# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Programacion 1/Biblioteca/nbproject/private/
/Programacion 1/JavaApplication47/nbproject/private/
/Programacion 1/Agenda/dist/
/Programacion 1/Encriptacion/nbproject/private/
/Programacion 1/Encriptacion/build/
/Programacion 1/FicherosDetexto/nbproject/private/
/Programacion 1/FicherosDetexto/build/
/Programacion 1/FicheroArchivo/nbproject/private/
/Programacion 1/CentralTelefonica/nbproject/private/
/Programacion 1/CentralTelefonica/build/
/Programacion 1/CentralTelefonica/dist/
/Programacion 1/CentralTelefonicaGRAFICA/nbproject/private/
/Programacion 1/CentralTelefonicaGRAFICA/build/
/Programacion 1/CentralTelefonicaGrafica/nbproject/private/
/Programacion 1/CentralTelefonicaSwing/nbproject/private/
/Programacion 1/CentralTelefonicaSwing/build/
/Programacion 1/CentralTelefonicaSwing/dist/
/Programacion 1/CentralTelefonicaGrafica/build/
/Programacion 1/RegistrosBusines/target/
/Programacion 1/RegistrosGui/target/
/Programacion 1/CentralTelefonicaGrafica/dist/
/Programacion 1/Jaja/nbproject/private/
/Programacion 1/Jaja/build/